 *{
    padding: 0;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-color:#2e2b2b;
 }
 
.container{
    height: 100vh;
    width: 100%;
    background-position: center;}

    nav{
        display: flex;
        align-items: center;
       justify-content: space-between;
       padding-top: 40px;
       padding-left: 30%;
       padding-right: 10%;
    }
    nav h5 i{
         color: #ecec07fd;
    }
    .detail{
        color: aliceblue;
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
 }
 .logo{
    position: absolute;
   color:rgb(247, 237, 237) ;
   font-size: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   transform: translateX(-50%);
   left: 8%;
}
nav ul li i{
    color: rgb(195, 199, 201);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  20px;
}
nav ul li a{
      color: white;
     text-decoration: none;
      font-weight: bold;
}
nav ul li a:hover{
    color: rgb(14, 204, 204);
    transition: .4s;
}
.detail{
    margin-bottom: 60%;
    position: absolute;
    top: 46%;
    left: 8%; 
    transform: translateY(-50%);
}
 /* .About{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     padding: 50px 40%;
 } */
.About p{
    color: rgb(205, 206, 207);
    /* padding-bottom: 90%;  */
    display: flex;
    justify-content: center;
    padding-left: 0%;
    margin-left: 50%;
    margin-top: 12%;
    /* margin-bottom: 20%; */
    /* transform: translateY(-90%) ;  */
}
.About h5{
    color: #ebdc0a;
    display: flex;
    justify-content: center;
    margin-left: 43%;
    /* margin-top;  */
 } 
.About i{
    color: #ebdc0a;
    /* border-radius: 50%; */
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 42%; */
    margin-left: 49%;
    margin-top: -2%;

}

 .social li i{
    position: absolute;
    /* height: 45vh; */
    width: 40%;
    color: #ebdc0a;
    display:inline-block;
    align-items:center;
    justify-content:space-between;
    margin-left: 38%;
    margin-top: -9%;
    
    float: left;
    /* padding-left: 50%; */
}
.images {
    width: 100%;
    height: 100%;
    /* margin-top: 5%; */
    color: #999898;}

.images img{
    height: 300px;
     border-radius: 50%;
     display: block;
     margin: auto;
     width: 300px;
     border: 8px  rgb(31, 31, 31);
     clip-path: circle();
     /* padding-right: 5%; */
     justify-content: center;
     margin-top: -24%;
    } 
.ads {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 70%;
    height: 130px;
    /* padding-top: 3%; */
    color: aliceblue;
    /* margin: 0% auto;/ */
    /* clear: both; */
    padding-top: 2%;
    padding-left: 20%;
    /* margin: 20px; */
        
}

.ads img{
    width: 10%;
    height: 20%;
    /* height: 10%; */
    float: left;
}
.specialist {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-left:7%;
    color: aliceblue;
}
.specialist p{
    float: left;   
    position:absolute;
    margin-left: 0%;
    margin-top: 1%;
    
}
/* .experience{
         /* left: 100px; */
         display:flex;
         /* position:relative; */
         /* justify-content:space-between; 
         align-items: center; 
         width: 10%;
         padding-top: 30%;} */


        
          
